# What makes people in a country happy?

# Cleaning

## Imports

In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

## Data Munging

In [4]:
year2015 = pd.read_csv('./data/2015.csv')
year2016 = pd.read_csv('./data/2016.csv')
year2017 = pd.read_csv('./data/2017.csv')
year2018 = pd.read_csv('./data/2018.csv')
year2019 = pd.read_csv('./data/2019.csv')

year2015['year'] = '2015'
year2016['year'] = '2016'
year2017['year'] = '2017'
year2018['year'] = '2018'
year2019['year'] = '2019'
year2019

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019

In [5]:
data = pd.concat([year2015, year2016,year2017,year2018,year2019])
data.set_index(data['year'])

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
year,,,,,,,,,,,,,,,,,,,,,
2015,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,152.0,Rwanda,3.334,0.359,0.711,0.614,0.555,0.411
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,153.0,Tanzania,3.231,0.476,0.885,0.499,0.417,0.147
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,154.0,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.025
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,155.0,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.035
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,156.0,South Sudan,2.853,0.306,0.575,0.295,0.010,0.091

In [21]:
import pandas as pd
df_2015 = pd.read_csv('./data/2015.csv')
df_2016 = pd.read_csv('./data/2016.csv')
df_2017 = pd.read_csv('./data/2017.csv')
df_2018 = pd.read_csv('./data/2018.csv')

def standardize_columns(df):
    df.columns = df.columns.str.replace('.', ' ').str.strip()
    df.rename(columns=standard_columns, inplace=True)
    return df

standard_columns = {
    'Country or region': 'Country',
    'Overall rank': 'Happiness Rank',
    'Score': 'Happiness Score',
    'Happiness Rank': 'Happiness Rank',
    'Happiness Score': 'Happiness Score',
    'Happiness.Rank': 'Happiness Rank',
    'Happiness.Score': 'Happiness Score',
    'Economy (GDP per Capita)': 'GDP per Capita',
    'Economy..GDP.per.Capita.': 'GDP per Capita',
    'Economy  GDP per Capita': 'GDP per Capita',
    'GDP per capita': 'GDP per Capita',
    'Family': 'Social Support',
    'Social support': 'Social Support',
    'Health (Life Expectancy)': 'Healthy Life Expectancy',
    'Health..Life.Expectancy.': 'Healthy Life Expectancy',
    'Health  Life Expectancy': 'Healthy Life Expectancy',
    'Healthy life expectancy': 'Healthy Life Expectancy',
    'Freedom': 'Freedom to Make Life Choices',
    'Freedom to make life choices': 'Freedom to Make Life Choices',
    'Trust (Government Corruption)': 'Perceptions of Corruption',
    'Trust..Government.Corruption.': 'Perceptions of Corruption',
    'Trust  Government Corruption': 'Perceptions of Corruption',
    'Perceptions of corruption': 'Perceptions of Corruption',
    'Generosity': 'Generosity',
    'Dystopia Residual': 'Dystopia Residual'  
}

df_2015 = standardize_columns(df_2015)
df_2016 = standardize_columns(df_2016)
df_2017 = standardize_columns(df_2017)
df_2018 = standardize_columns(df_2018)
common_cols = ['Country', 'Happiness Rank', 'Happiness Score', 'GDP per Capita', 'Social Support',
               'Healthy Life Expectancy', 'Freedom to Make Life Choices', 'Perceptions of Corruption', 'Generosity']
df_2015 = df_2015[common_cols]
df_2016 = df_2016[common_cols]
df_2017 = df_2017[common_cols]
df_2018 = df_2018[common_cols]
df_merged = pd.concat([df_2015, df_2016, df_2017, df_2018], ignore_index=True)

for column in ['Happiness Rank', 'Happiness Score', 'GDP per Capita', 'Social Support',
               'Healthy Life Expectancy', 'Freedom to Make Life Choices', 'Perceptions of Corruption', 'Generosity']:
    if df_merged[column].isnull().any():
        df_merged[column].fillna(df_merged[column].mean(), inplace=True)
for column in common_cols[1:]:  
    df_merged[column] = df_merged[column].round(3)
df_merged